{% extends 'base.html' %}

{% block content %}
    <h2>{{ recipe.name }} Ingredients</h2>  
    <b>by {{ recipe.author }}</b><p>
    
    <i>updated on {{ recipe.updated_on }} <br>
    created on {{ recipe.created_on }}</i><br>   

    <ul>
        {% for ingredient in recipe.ingredients.all %}
            <li>{{ ingredient.quantity }} of {{ ingredient.ingredient.name}}</li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'ledger:add_recipe_image' recipe.id %}">Want to upload images?</a>

    <p>{% for image in recipe.images.all %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}">
    {% endfor %}

{% endblock %}